html {
  font-size: 14px;
}
body {
  font-size: 1rem;
  line-height: 1.5rem;
  margin:0;
  word-wrap: break-word;
}
pre code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  display: block;
  background-color: #cc44cc;
  border: 1px solid #777777;
  padding: 20px;
}
